.wrapper {
  width: 1000px;
  height: 600px;
  margin: 20px auto;
  position: relative;
  overflow: hidden;
}

.dungeon {
  width: 1000px;
  height: 500px;
}

.cell {
  width: 10px;
  height: 100%;
  float: left;
  display: inline-block;
  background: #000;
}

.dungeon-row {
  height: 10px;
}

#lamp {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  animation: appear 4s;
}

.off {
  background: black;
  color: #fcc951;
}
.off:hover {
  cursor: pointer;
  background: #fcc951;
  color: black;
}

.on {
  background: #fcc951;
  color: black;
}
.on:hover {
  cursor: pointer;
}

#message {
  position: absolute;
  top: 0;
  width: 100%;
  height: 600px;
  background: black;
  color: white;
  font-family: "Permanent Marker", cursive;
  font-size: 40px;
  animation: disappear 4s forwards;
  text-align: center;
  line-height: 600px;
}

.header {
  width: 100%;
  height: 100px;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 18px;
  font-family: "Roboto Condensed", sans-serif;
  box-sizing: border-box;
  padding-right: 20px;
}

.title {
  font-family: "Permanent Marker", cursive;
  width: 20%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 40px;
  line-height: 40px;
  align-items: center;
  text-align: center;
}

.empty {
  background: #fff;
}

.player {
  background: #47afd1;
}

.weapon {
  background: #fcc951;
}

.portal {
  background: #9b27e3;
}

.enemy {
  background: #e84931;
}

.health {
  background: #2bc0a6;
}

.boss {
  animation: colorchange infinite alternate 5s;
}

@keyframes colorchange {
  0% {
    background: #ff8000;
  }
  50% {
    background: red;
  }
  51% {
    background: red;
  }
  100% {
    background: #ff0080;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
    color: rgba(255, 255, 255, 0);
  }
  20% {
    color: white;
  }
  60% {
    color: white;
  }
  80% {
    opacity: 1;
    color: rgba(255, 255, 255, 0);
  }
  99% {
    opacity: 0;
    color: rgba(255, 255, 255, 0);
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 600px);
  }
}
